@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
  background: rgb(1, 75, 76);
}

.App {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
}

.img__logo {
  width: 30px;
  height: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app__logo {
  animation: logoIntroSpin 2s linear ease-in-out;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes logoIntroSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.search__button {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}

/* .home__card {
  animation: slideIn 2s ease-in-out;

} */

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.row__cards {
  padding-top: -50px;
  padding-bottom: 200px;
}

.home__card,
.detail__card {
  animation: fade 3s linear both, slideIn 3s ease-in-out;
  animation-timeline: view();
  animation-range: entry 90% cover 25%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {

    opacity: 1;
  }
}

.details__button {
  animation: tremor 1s infinite ease-in-out;
}

.details__button:hover {
  background-color: rgb(77, 77, 234);
  animation: none;
}

@keyframes tremor {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.remove__button:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }

  50% {
    transform: translate(0, 0) rotate(0eg);
  }

  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.back__button {
  --color: hsl(208, 72%, 39%);
  display: inline-block;
  border: 3px solid var(--color);
  position: relative;
  isolation: isolate;
}

.back__button::after {
  content: '';
  position: absolute;
  z-index: -1;
  background: var(--color);
  inset: 0;
  scale: 0 1;
  transition: scale 450ms;
  transform-origin: right;
}

.back__button:hover::after,
.back__button:focus::after {
  transform-origin: left;
  scale: 1 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #5b5858;
  padding: 1px;
}